body{
    background-image: url("images/backk.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    height: 100vh;
}
body.active{
    overflow: hidden;
}
h1{
    font-size: 32px;
    line-height: 87%;
    border: 2px solid #A9A9A9;
    display: inline-block;
    padding: 8px;
    font-weight: 700;
}
.app{
    text-align: center;
    align-items: center;
    position: relative;
}
.subtitle{
    font-size: 14px;
    display: block;
    color: #fff;
    display: block;
    color: #A9A9A9;
    margin-top: 2px;
}
span{
    color: #FF0431;
}
.main{
    display: block;
    margin: 50px auto;
    background-color: gray;
    width: 760px;
    height: 150px;
    overflow: hidden;
}
.slider{
    width: 12008px;
    position: relative;
    left: 0;
    -webkit-transition: all 7500ms 
    cubic-bezier(0.06, 0, .16, 1);
}
.slider img{
    float: left;
    padding: 0 1px;
}
.slider::after{
    content: "";
    display: block;
    clear: both;
}
.main::before{
    content: "";
    height: 150px;
    width: 3px;
    background-image: url("images/arrow.png");
    left: 50%;
    position: absolute;
    z-index: 3;
}
.btn{
    background-color: #FF0000;
    border: none;
    padding: 12px 30px;
    font-size: 18px;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .3s;
    border-radius: 10px;
    margin-top: -15px;
    transition: all 500ms ease;
}

.btn:hover{
    background-color: #FF0431;
}
.btn:active{
    background-color: red;
}
.container{
    max-width: 700px;
    text-align: center;
    margin: 50px auto;
}
.skin__list{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 610px;
    margin: 0 auto;
}
.skin-img{
    width: 100px;
}
.info-case{
    font-style: italic;
    text-transform: uppercase;
    font-weight: 600;
    color: #FF0431;
    text-align: left;
}
.info{
    color: #FF0431;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    font-size: 12px;
}
.skin-img{
    box-shadow: 0px 1px 1px 1px rgba(220, 20, 60, 0.5);
}
.social__list{
    text-align: center;
    margin-top: 30px;
    padding-bottom: 30px;
}
.social__list-item{
    margin: 0 5px;
}
.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .9);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 500ms ease;
    z-index: 10;
}
.popup.active{
    opacity: 1;
    visibility: visible;
}
.popup__body{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}
.popup__content{
    background-color: #1B1B1B;
    border-radius: 10px;
    max-width: 800px;
    padding: 35px;
    position: relative;
}
.popup__title{
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 700;
  max-width: 500px;
}
.popup__text{
    font-size: 18px;
    font-weight: normal;
}
.popup__close{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
.popup__img{
    max-width: 500px;
    object-fit: cover;
    border-radius: 10px;
    margin: 0 auto;
  /*Adaptive*/
}
@media(max-width: 786px){
    .main{
        width: 456px;
    }
    .skin__list{
        width: 408px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .popup__img, .popup__title{
        max-width: 400px;
    }
}
@media(max-width: 484px){
    .main{
        width: 304px;
    }
    .skin__list{
        width: 306px;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .popup__title{
        font-size: 20px;
        max-width: 300px;
    }
    .popup__content{
        padding: 25px;
    }
    .popup__img{
        max-width: 300px;
    }
}
